@import "tailwindcss";

body {
  margin: 0;
  background: lightblue;
  color: ivory;
  font-family: Arial, Helvetica, sans-serif;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-layout h1 {
  font-size: 20px;
}

.sidebar {
  width: 200px;
  background-color: aliceblue;
  padding: 24px;
  border-right: 1px, solid;
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 20px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar a {
  color: #cbd5e1;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
}

.sidebar a:hover {
  background: #1e293b;
  color: white;
}

.page-content {
  flex: 1;
  padding: 32px;
}

